body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  width: 400px;
  background-color: hsl(0, 0%, 10%);
  overflow: hidden;
  border-radius: 20px;
}
.btns {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  gap: 10px;
}
button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 50%);
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
button:hover {
  background-color: hsl(0, 0%, 40%);
}
button:active {
  background-color: hsl(0, 0%, 50%);
}
input {
  width: 100%;
  height: 90px;
  background-color: hsl(0, 0%, 20%);
  color: white;
  font-size: 50px;
  font-weight: 600;
}
.btn {
  background-color: hsl(35, 100%, 55%);
}
.btn:hover {
  background-color: hsl(0, 0%, 40%);
}
.btn:active {
  background-color: hsl(0, 0%, 50%);
}
